.switch {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 20px;
}

.button_tablegrid {
    display: inline-block;
    padding: 10px 20px;
    background: #2c303a;
    cursor: pointer;
    border: 3px solid #78c850;
    color: #78c850;
    font-family: "Single Day";
    font-size: 15px;
    text-transform: uppercase;
}

.button_tablegrid:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.button_tablegrid:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.button_tablegrid.active {
    background-color: #78c850;
    color: #2c303a;
}